body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.input-group-select {
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-right: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.input-group-input {
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.input-group input::placeholder {
    color: #aaa;
}
